/*! TokenLite - ICO Token Sale Dashboard by Softnio | @version v1.0.1 */
/*! ## WRITE YOUR OWN SYTLE AFTER FROM ADMIN PANEL */
.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
}
.d-none {
    display: none;
}

.d-block {
    display: block;
}
@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.token-balance-pending-container .table thead th {
    color: #eceb6b
}
.token-balance-pending-container .row-pending a {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

.payment-disabled {
    cursor: not-allowed;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

}
.payment-disabled .payment-status-icon {
    background: transparent;
    color: #929292;
    border-color: #929292;
}
#token-pending .payment-card {
    height: 300px;
}
.payment-enable {
    cursor: pointer;
}


.border-animation {
    --border-width: 0.1em;
    --animation-speed: 0.5s;
    --color: #ffffff;
    color: var(--color);
    position: relative;
    display: inline-block;
    font-size: 4em;
    line-height: 1em;
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
    border: var(--border-width) solid transparent;
  }
  .border-animation .border-animation__inner {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Six Caps', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    padding: 0.2em;
    background: #333;
    z-index: 1;
    border: solid var(--border-width) transparent;
  }
  .border-animation:before, .border-animation:after {
    content: '';
    position: absolute;
    background: var(--color);
  }
  .border-animation:focus:before, .border-animation:hover:before {
    -webkit-animation: beforeBorders var(--animation-speed) forwards ease-in-out;
            animation: beforeBorders var(--animation-speed) forwards ease-in-out;
  }
  .border-animation:focus:after, .border-animation:hover:after {
    -webkit-animation: afterBorders var(--animation-speed) forwards ease-in-out;
            animation: afterBorders var(--animation-speed) forwards ease-in-out;
  }
  .border-animation:focus, .border-animation:hover {
    -webkit-animation: borderColors var(--animation-speed) steps(1) forwards;
            animation: borderColors var(--animation-speed) steps(1) forwards;
    outline: none;
  }
  .border-animation:focus .border-animation__inner, .border-animation:hover .border-animation__inner {
    -webkit-animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
            animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
    -webkit-animation-delay: calc(var(--animation-speed) / 5 * 2);
            animation-delay: calc(var(--animation-speed) / 5 * 2);
  }
  
  @-webkit-keyframes beforeBorders {
    0% {
      top: calc(var(--border-width) * -1);
      left: 50%;
      bottom: auto;
      right: auto;
      width: 0;
      height: var(--border-width);
    }
    33% {
      top: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
      bottom: auto;
      right: auto;
      width: calc(var(--border-width) + 50%);
      height: var(--border-width);
    }
    66% {
      top: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
      bottom: auto;
      right: auto;
      width: var(--border-width);
      height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
      top: auto;
      left: calc(var(--border-width) * -1);
      bottom: calc(var(--border-width) * -1);
      right: auto;
      width: calc(var(--border-width) + 50%);
      height: calc((var(--border-width) * 2) + 100%);
    }
  }
  
  @keyframes beforeBorders {
    0% {
      top: calc(var(--border-width) * -1);
      left: 50%;
      bottom: auto;
      right: auto;
      width: 0;
      height: var(--border-width);
    }
    33% {
      top: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
      bottom: auto;
      right: auto;
      width: calc(var(--border-width) + 50%);
      height: var(--border-width);
    }
    66% {
      top: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
      bottom: auto;
      right: auto;
      width: var(--border-width);
      height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
      top: auto;
      left: calc(var(--border-width) * -1);
      bottom: calc(var(--border-width) * -1);
      right: auto;
      width: calc(var(--border-width) + 50%);
      height: calc((var(--border-width) * 2) + 100%);
    }
  }
  @-webkit-keyframes afterBorders {
    0% {
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: 50%;
      width: 0;
      height: var(--border-width);
    }
    33% {
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: calc(var(--border-width) * -1);
      width: calc(var(--border-width) + 50%);
      height: var(--border-width);
    }
    66% {
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: calc(var(--border-width) * -1);
      width: var(--border-width);
      height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
      top: auto;
      left: auto;
      bottom: calc(var(--border-width) * -1);
      right: calc(var(--border-width) * -1);
      width: calc(var(--border-width) + 50%);
      height: calc((var(--border-width) * 2) + 100%);
    }
  }
  @keyframes afterBorders {
    0% {
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: 50%;
      width: 0;
      height: var(--border-width);
    }
    33% {
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: calc(var(--border-width) * -1);
      width: calc(var(--border-width) + 50%);
      height: var(--border-width);
    }
    66% {
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: calc(var(--border-width) * -1);
      width: var(--border-width);
      height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
      top: auto;
      left: auto;
      bottom: calc(var(--border-width) * -1);
      right: calc(var(--border-width) * -1);
      width: calc(var(--border-width) + 50%);
      height: calc((var(--border-width) * 2) + 100%);
    }
  }
  @-webkit-keyframes borderColors {
    0% {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    33% {
      border-top-color: var(--color);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    66% {
      border-top-color: var(--color);
      border-right-color: var(--color);
      border-bottom-color: transparent;
      border-left-color: var(--color);
    }
    100% {
      border-top-color: var(--color);
      border-right-color: var(--color);
      border-bottom-color: var(--color);
      border-left-color: var(--color);
    }
  }
  @keyframes borderColors {
    0% {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    33% {
      border-top-color: var(--color);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    66% {
      border-top-color: var(--color);
      border-right-color: var(--color);
      border-bottom-color: transparent;
      border-left-color: var(--color);
    }
    100% {
      border-top-color: var(--color);
      border-right-color: var(--color);
      border-bottom-color: var(--color);
      border-left-color: var(--color);
    }
  }
  @-webkit-keyframes background {
    to {
      background: #555;
      text-shadow: 0 0.1em 0.1em #111;
    }
  }
  @keyframes background {
    to {
      background: #555;
      text-shadow: 0 0.1em 0.1em #111;
    }
  }
  @media (min-width: 850px) {
    body {
      -webkit-box-pack: center;
              justify-content: center;
    }
  }
  @media (min-width: 1200px) {
    .border-animation {
      font-size: 6em;
      line-height: 1em;
    }
  }
  

  .card-input-element+.card {
    color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  
  .card-input-element+.card:hover {
    cursor: pointer;
  }
  
  .card-input-element:checked+.card .card-body{
    border: 2px solid var(--primary);
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
  }
  
  .card-input-element:checked+.card::after {
    content: "\e64c";
    font-family: 'themify';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  
.banking-information-card {
    border: 1px dashed #999;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banking-information-container input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.payment-information-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.payment-information-right .banking-group {
    width: 100%;
}
.banking-information-card>.row {
    align-items: center;
    justify-content: space-between;
}
.token-balance-icon {
    background: #fff;
}
.token-balance-icon {
    align-self: flex-start;
}

<<<<<<< HEAD

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
=======
.one-blue-button{
  text-align: right; 
  padding:10px 0px;
>>>>>>> origin/dev-linh
}