*
!.gitignore
!img-1.jpg
!img-2.jpeg
!img-3.jpg
!banner.jpg
!chart.png
!exchange.png
!wallet.png
!dashboard.png
!bitcoin.svg
!cryptocurrency.png
!dashboard.svg
!revenue.svg
!support.svg
!wallet-1.svg
!wallet-2.svg
!team-1.jpg
!team-2.jpg
!team-3.jpg
!client-1.jpg
